services:
  db:
    image: postgres
    restart: unless-stopped
    networks:
      - lobbyregister
    env_file: ./.env
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: local
    volumes:
      - db:/var/lib/postgresql/data/
  node:
    working_dir: /opt/lobbyregister
    build:
        context: .
        dockerfile: Dockerfile
        args:
          - DATABASE_URL=postgres://root:${POSTGRES_PASSWORD}@lobbyregister-db-1:5432/local
    restart: unless-stopped
    networks:
      - nginx-load-balancer
      - lobbyregister
    env_file: ./.env
    environment:
      - DATABASE_URL=postgres://root:${POSTGRES_PASSWORD}@lobbyregister-db-1:5432/local
      - PROTOCOL_HEADER=x-forwarded-proto
      - HOST_HEADER=x-forwarded-host
      - DEMO_LOGIN_PASSWORD: ${DEMO_LOGIN_PASSWORD}
networks:
  lobbyregister:
  nginx-load-balancer:
    name: docker_nginx-load-balancer
volumes:
  db:
