@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */

@theme {
  --font-sans: 'Source Sans 3 Variable', ui-sans-serif, system-ui, -apple-system, sans-serif;

  --color-gov-blue: #01689b;
  --color-gov-dark-blue: #154273;
  --color-gov-light-blue: #e6f3ff;
}

.date-time-field input {
  padding: 10px 12px !important;
}
.multiselect {margin-top: 0; margin-bottom: 0; min-height: 3em;}