@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */

@theme {
  --font-sans: 'Amsterdam Sans', ui-sans-serif, system-ui, -apple-system, sans-serif;

  --color-gov-blue: #004699;
  --color-gov-dark-blue: #154273;
  --color-gov-light-blue: #e6f3ff;
}

a {
  text-underline-offset: 4px;
}

.caret::before {
  --size: 1rem;
  align-self: baseline;
  background-color: var(--color-gov-blue);
  content: '';
  display: inline-flex;
  font-size: var(--size);
  margin-inline-end: 0.3rem;
  line-height: 1;
  height: var(--size);
  mask-image: url('/caret-right.svg');
  mask-position: 50% 0;
  mask-repeat: no-repeat;
  mask-size: auto var(--size);
  position: relative;
  top: 0.15lh;
  width: var(--size);
}

.caret-sm::before {
  --size: 0.75rem;
}

.date-time-field input {
  padding: 10px 12px !important;
}
.multiselect {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 3em;
  padding: 3pt;
}

.preserve_whitespace {
  white-space: pre-line;
}

@font-face {
  font-family: 'Amsterdam Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/AmsterdamSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Amsterdam Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/AmsterdamSans-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Amsterdam Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/AmsterdamSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Amsterdam Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/AmsterdamSans-ExtraBold.woff2') format('woff2');
}
